
<div id="body-form">
<h1>Your Pfander</h1>
  <div class="container">
    <% booking = @last_offer.booking %>
      <% if @last_offer.booking.present? %>
          <% if @last_offer.booking.status == "accepted" %>
          <div class="card-offers">
            <% if @last_offer.user.photo.attached? %>
              <%= cl_image_tag @last_offer.user.photo.key, class:"avatar-large", height: 80, width: 80, crop: :fill %>
            <% else %>
              <p>No image found</p>
            <% end %>
              <p><strong><%= booking.offer.user.first_name %> <%= booking.offer.user.last_name %></strong></p>
              <p><%= booking.offer.user.story %></p>
              <p><strong>Pickup Time:</strong> <%= booking.offer.timeslot %></p>
            <% end %>
        <% else %>
          <%= render "offers/show" %>
          <%= render 'shared/footer' %>
        <% end %>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
