<div>
  <h1>Your Bookings</h1>
  <% if current_user.bookings.any? %>
  <%# <% raise %>
    <% current_user.bookings.each do |booking| %>
      <% if booking.status == "accepted" %>
        <p><%= booking.status %></p>
        <p><%= booking.offer.user.first_name %></p>
        <p><%= booking.offer.user.last_name %></p>
        <p><%= booking.offer.user.address %></p>
        <p><%= booking.offer.timeslot %></p>
      <% end %>
    <% end %>
  <% end %>
</div>
