<div>
  <h1>Your Bookings</h1>
  <% if current_user.bookings.any? %>
  <%# <% raise %>
    <% current_user.bookings.each do |booking| %>
      <% if booking.status == "accepted" %>
        <p>Booking status<%= booking.status %></p>
        <p><%= booking.offer.user.first_name %></p>
        <p><%= booking.offer.user.last_name %></p>
        <p><%= booking.offer.user.address %></p>
        <p><%= booking.offer.timeslot %></p>
        <%=
          link_to "Complete", booking_path(booking), method: :patch, class: "btn btn-primary", data: { controller: :sweetalert, action: "sweetalert#fire2", sweetalert_pending_value: true} %>
      <% end %>
    <% end %>
  <% end %>
</div>
<%= render 'shared/footer' %>
