

<p><strong> Donor name: </strong><%= user.first_name %> </p>
<p><strong> Pickup address: </strong><%= user.address %> </p>

<p><strong> Timeslot: <%= user.offers.last.timeslot %></p>

<p><strong> Plastic bottles qty: </strong><%= @offers.last.plastic_bottles %></p>
<p><strong> Glass bottles qty: </strong><%= @offers.last.glass_bottles %></p>
<p><strong> Crates qty:  </strong><%= @offers.last.crates %></p>
<p><strong> Tip:  </strong><%= @offers.last.tip %></p>
<%=
link_to "Accept", offer_bookings_path(@offers.last), method: :post, class: "btn btn-primary accept-btn", data: { controller: :sweetalert, action: "sweetalert#fire", sweetalert_pending_value: true} %>
