<div class="container background-color-light">
<div class="title">
<div class="offers-title">
  <h3>Here are all active offers</h3>
</div>
</div>
<%# search bar %>
<form action="" class="form-page">
      <input type="search" id="searchfield" placeholder='Enter address' required data-behavior="autocomplete">
      <%= link_to offers_path do %>
        <i class="fa fa-search"></i>
      <% end %>
</form>

<%# geocoding - adding array of markers %>
<div
  id="map"
  style="width: 100%;
  height: 600px;
  border-radius: 15px;"
  data-markers="<%= @markers.to_json %>"
></div>


  <% offers = @offers.sort_by {|offer| offer.created_at} %>
  <% offers.each do |offer| %>
    <% if offer.booking == nil %>
      <div class="card-offers">
            <p><i class="fas fa-user-circle"></i>   <%= offer.user.first_name %></p>
            <p><i class="fas fa-map-marked-alt"></i>   <%= offer.user.address %> </p>
            <p> <i class="fas fa-clock"></i>  <%= offer.timeslot %></p>
            <p> <strong> Plastic <i class="fas fa-wine-bottle"></i>    </strong> <%= offer.plastic_bottles %></p>
            <p> <strong> Glass <i class="fas fa-wine-bottle"></i>    </strong> <%= offer.glass_bottles %></p>
            <p> <i class="fas fa-box"></i>   <%= offer.crates %></p>
            <p> <i class="fas fa-hand-holding-usd"> </i>: <i class="fas fa-euro-sign"></i><%= offer.tip %></p>
            <p> <i class="fas fa-comment"></i>  <%= offer.comment %></p>
            <%= link_to "Accept", offer_bookings_path(offer), method: :post, class: "btn accept-btn", data: { controller: :sweetalert, action: "sweetalert#fire", sweetalert_pending_value: true} %>
      </div>
    <% end %>
  <% end %>
